!!!
%html
	%head
		%title RSVP Checker
		%meta(name="viewport" content="width=device-width, initial-scale=1.0")

		%link(href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
		%link(href="/static/css/app.css" rel="stylesheet")

		<!--[if lt IE 9]>
		%script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		%script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
		<![endif]-->

		:sass
			#results-nav
				margin-bottom: 20px

			#guest-container
				margin-top: 10px
				& > div
					width: 100%
					overflow: hidden
					height: 48px
					margin-bottom: 5px
					border: 1px solid #ccc
					cursor: pointer

					&:hover
						background-color: #ddd

					img 
						width: 48px
						height: 48px
						float: left
					div
						float: left
						margin-top: 15px
						width: 200px
						margin-left: 5px

	%body
		-# Google analytics
		{% if google_analytics %}
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-45549525-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		{% end %}

		-# Facebook embed
		:javascript
			var access_token = null;

			window.fbAsyncInit = function() {
				FB.init({
					appId		: '{{ fb_api_key }}',
					channelUrl	: '//68.68.99.28/channel.html',
					status		: true,
					cookie		: true,
					xfbml		: true
				});

				FB.getLoginStatus(function (response) {
					if (response.status === 'connected') {
						access_token = String(response.authResponse.accessToken);
						document.getElementById("facebook-warning").style.display = 'none';
					}
				});
			};

			// Load SDK async
			(function(d) {
				var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement('script'); js.id = id; js.async = true;
				js.src = "//connect.facebook.net/en_US/all.js";
				ref.parentNode.insertBefore(js, ref);
			}(document));

		.container
			.jumbotron
				%h3 RSVP Checker
				%p Copy and paste a Facebook event link
				%form.form-inline(role="form")
					%input.form-control(type="input" placeholder="https://www.facebook.com/events/.../" name="eventLink")
					%button#process.btn.btn-default
						%span.actionable
							Process
							%span.glyphicon.glyphicon-chevron-right
						%span.working(style="display: none;")
							Working...
					%img.working(src="/static/images/loader128.GIF" style="width: 32px; height: 32px; display: none;")/

			#facebook-warning.alert.alert-warning
				<b>Warning!</b> You need to login to Facebook and have permissions to access the event for this tool to work. Clicking the <i>Process</i> button will prompt you to login to Facebook.

			#results-nav.btn-toolbar(role="toolbar" style="text-align: center; display: none;")
				.btn-group(style="float: none;")
					%button.btn.btn-default(type="button" data-link="guestlist") Guestlist
					%button.btn.btn-default(type="button" data-link="demographics") Demographics

			#results-guestlist.results.panel.panel-default(style="display: none;")
				.panel-body
					.input-group
						%input#guestlist-filter.form-control(type="text" placeholder="John Doe")
						%span.input-group-btn
							%button.btn.btn-default(type="button") Filter Attending

					#guest-container

			#results-demographics.results.panel.panel-default(style="display: none;")
				.panel-body
					%table.table.table-bordered.table-hover
						%tr
							%th
							%th <span class="glyphicon glyphicon-ok-sign"></span> Attending
							%th <span class="glyphicon glyphicon-question-sign"></span> Maybe
							%th <span class="glyphicon glyphicon-remove-sign"></span> Declined
							%th <span class="glyphicon glyphicon-minus-sign"></span> No Response
						%tr
							%th <img src="/static/images/icon-guy.png" /> Men
							%td#male-attending
							%td#male-maybe
							%td#male-declined
							%td#male-noreply
						%tr
							%th <img src="/static/images/icon-girl.png" /> Women
							%td#female-attending
							%td#female-maybe
							%td#female-declined
							%td#female-noreply
						%tr
							%th Unknown
							%td#other-attending
							%td#other-maybe
							%td#other-declined
							%td#other-noreply

			%footer.navbar.navbar-default.navbar-fixed-bottom
				A <a href="http://www.regularexpressionless.com/">regexpless</a></b> project.

		%script(src="/static/vendor/jquery-2.0.3.min.js")
		%script(src="/static/vendor/bootstrap/js/bootstrap.min.js")
		%script(src="/static/js/app.js")
		%script(src="/static/js/index.js")
